/* variales globales */

/* colores */
$mainColor: rgb(131, 118, 42);
$secondaryColor: chocolate;
$keyColor: rgb(167, 119, 29);
$productos: rgb(236, 10, 10);
$comprarahora: rgb(0, 0, 0);
$boxshadow: 0 0 11px rgba(33, 33, 33, 0.5);
$colortexto: crimson;


/* fonts */

$mainFont: 'Roboto', sans-serif;
$textSm: 1.5em;
$textMd: 3em;
$textLg: 4em;
$textSlg: 5em;
$textBold:700;
$textLight:300;
$textchiquito: 1em;
$textdep: 15px;


