/* variales globales */

/* colores */
$mainColor: rgb(255, 255, 255);
$secondaryColor: rgb(218, 155, 39);
$keyColor: rgb(218, 155, 39);
$productos: rgb(218, 155, 39);
$comprarahora: rgb(177, 165, 101);
$boxshadow: 0 0 11px rgba(33, 33, 33, 0.5);
$colortexto: crimson;


/* fonts */

$mainFont: 'Roboto', sans-serif;
$textSm: 1.5em;
$textMd: 3em;
$textLg: 4em;
$textSlg: 5em;
$textBold:700;
$textLight:300;
$textchiquito: 1em;
$textdep: 15px;


